include _/_config.jade

+html5
  +head("Productos | " + title, stylesheets, keywords, description)
  body    
    +sliderbg('body', '_/img/bg.jpg', '_/img/bg2.jpg', '_/img/bg3.jpg')
    header
      h1.logotipo(data-sr="enter left move 100%")
        a(href=domain): img(src="_/img/zarco.png", alt="Zarco")
      nav: +menu('productos', menu)
    
    

    .container
      .col6.col-t12.col-m12
        article.modulo
          h2(data="CATEGORÍAS") CATEGORÍAS
        .categoriasSlider
          .slider.one
            div 
              .container
                .col6
                  h3 Cascos
                  img(src="_/img/helmet.jpg", alt="Casco").w100
                .col6 
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, odio quidem incidunt officiis, esse eius alias! Atque iste sapiente explicabo dignissimos architecto perspiciatis enim sint quos similique! Ratione, dolorem provident.
            div 
              .container
                .col6
                  h3 Accesorios
                  img(src="_/img/helmet.jpg", alt="Casco").w100
                .col6 
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, odio quidem incidunt officiis, esse eius alias! Atque iste sapiente explicabo dignissimos architecto perspiciatis enim sint quos similique! Ratione, dolorem provident.

      .col6.col-t12.col-m12
        article.modulo
          h2(data="CATÁLOGOS") CATÁLOGOS
        .catalogosSlider
          +slider('multiplebox', 'http://lorempixel.com/300/300', 'http://lorempixel.com/300/300', 'http://lorempixel.com/300/300', 'http://lorempixel.com/300/300', 'http://lorempixel.com/300/300', 'http://lorempixel.com/300/300') 
        
    +scripts
