include _/_config.jade

+html5
  +head("Promociones | " + title, stylesheets, keywords, description)
  body    
    +sliderbg('body', '_/img/bg.jpg', '_/img/bg2.jpg', '_/img/bg3.jpg')
    header
      h1.logotipo(data-sr="enter left move 100%")
        a(href=domain): img(src="_/img/zarco.png", alt="Zarco")
      nav: +menu('promociones', menu)
    
    

    .container
      .col12
        +slider('one', '_/img/promo1.png', '_/img/promo2.png')
        
        
    +scripts
